<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baa Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/vendor/clean/clean.min.css" rel="stylesheet" />
</head>

<body>
    <!-- begin #nav -->
    {{ template "frontend/nav" . }}
    <!-- end #nav -->

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/assets/img/cover.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading" style="padding: 80px !important;">
                        <h1>Baa Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Simple Baa-based Blog Example</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post-list">

            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post-list">
                <!-- Pager -->
                <ul class="pager" id="pager">
                    <li class="previous">
                        <a href="javascript:;">&larr; Prev</a>
                    </li>
                    <li class="next">
                        <a href="javascript:;">Next &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- begin #footer -->
    {{ template "frontend/footer" . }}
    <!-- end #footer -->
</body>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/request.js"></script>
<script src="/assets/js/list.js"></script>

</html>