<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>Baa-blog | Admin</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/vendor/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" href="/assets/css/backend/index.css" />
    <link rel="stylesheet" href="/assets/css/backend/password.css" />
</head>

<body>
    <!-- begin #page-container -->
    <div id="page-container">
		<!-- begin #nav -->
		{{ template "backend/nav" . }}
		<!-- end #nav -->
		<div id="content">
            <div class="panel panel-default">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">
                    <form action="{{ url "change_pwd" }}" class="form-horizontal" id="chgpwd-form">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Old</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="origin_password" placeholder="Old Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">New</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="new_password" placeholder="New Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Repeat</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="re_password" placeholder="Repeat New Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end page container -->
</body>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/gritter/js/jquery.gritter.min.js"></script>
<script src="/assets/js/request.js"></script>
<script src="/assets/js/password.js"></script>
</html>